{% extends 'base.html' %}
{% load static %}
{% block title %}Profil użytkownika{% endblock %}

{% block nav_actions %}
    {% if user.is_authenticated %}
        <li><a href="#">Witaj, {{ user.username }}</a>
            <ul>
                <li><a href="{% url 'user-profile' %}">Profil</a></li>
                {% if user.is_superuser %}
                    <li><a href="/admin/">Panel administracyjny</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}" class="btn btn--small btn--without-border">Wyloguj</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
        <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<section class="profile">
    <h2>Profil użytkownika</h2>
    <div class="container container--85">
        <div class="user-details">
            <h3>Imię: {{ user.first_name }}</h3>
            <h3>Nazwisko: {{ user.last_name }}</h3>
            <h3>Email: {{ user.email }}</h3>
        </div>
        <div class="donations">
            <h3>Przekazane dary</h3>
            <ul>
                {% for donation in donations %}
                    <li style="color: {% if donation.is_taken %}gray{% endif %};">
                        <span>{{ donation.quantity }} worki</span>
                        <span>{{ donation.institution.name }}</span>
                        <span>{{ donation.categories.all|join:", " }}</span>
                        <span>{{ donation.pick_up_date }}</span>
                        <span>{{ donation.pick_up_time }}</span>
                        <span>{{ donation.is_taken|yesno:"Zabrane,Niezabrane" }}</span>
                        <form method="post" action="{% url 'toggle-donation-status' donation.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn--small">{% if donation.is_taken %}Oznacz jako niezabrane{% else %}Oznacz jako zabrane{% endif %}</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
